<div class="container">
    <span class="centered"><h1>Accommodations</h1></span>
    <hr>
    <div class="accomodations">
        <h2>The Cosmopolitan</h2>
        <h4>To book your room reservations using our room block, you have two options:</h4>
        <ul>
            <li>Call the main reservations line at 1-877-551-7772 and provide the <span class="important affirmative">group code</span>.</li>
            <li>Go to their <a href="http://www.Cosmopolitanlasvegas.com">website</a> and click the on the option for a <span class="important affirmative">“special offer code”</span>.</li>
        </ul>
        <h5>Group Code is <span class="important affirmative">WMCNWD7</span></h5>
        <h4>A few more details</h4>
        <ul>
            <li><span class="important negative">Cutoff date</span>: You have until <span class="important affirmative">02/05/2017</span> to make the room reservations. After that, the rooms and rates are subject to availability.</li>
            <li>The first night’s room and tax is required at the time of booking as a deposit</li>
            <li class="indent">Guest must present the card used for the deposit at check-in or we will need to refund the deposit at check-in.</li>
            <li>Cancellation Policy: Guests may cancel up to 72 hours prior to their arrival, without penalty. Inside 72 hours, the deposit will be kept</li>
            <li>One (1) rollaway per room is available in select rooms at an additional per day cost.</li>
            <li>A rollaway bed is not permitted in a room that already has two queen beds.</li>
            <li>Outside food and beverage is prohibited within all areas of the hotel.</li>
            <li>The main guest must be 21 years old to check in.</li>
            <li>Our check in time starts at 3pm, check out time is 11am.</li>
            <li>Upon check in, each room is required to put down a credit card for incidental charges – its $150 authorization per day, plus any outstanding room and tax.</li>
            <li>Resort fee of $30 per day, per room, plus tax is charged upon check in.</li>
        </ul>
        <h2>Alternatives</h2>
        <h4>There are many other hotel options close to the Cosmo, here are just a few!</h4>
        <ul>
            <li><a href="https://www.caesars.com/planet-hollywood">Planet Hollywood</a> (0.2m)</li>
            <li><a href="https://www.caesars.com/paris-las-vegas">Paris</a> (0.3m)</li>
            <li><a href="https://www.caesars.com/flamingo-las-vegas">Flamingo</a> (0.5m)</li>
            <li><a href="http://www.westinvegas.com/">Westin</a> (0.8m)</li>
            <li><a href="https://www.bestwestern.com/en_US.html">Best Western Plus Casino Royale</a> (1m)</li>
        </ul>
    </div>
    <!-- <div id="googleMap"></div> -->
</div>
