<div class="container">
    <div class="events">
        <span class="centered"><h1>Events</h1></span>
        <hr>
        <div class="event">
            <h2 class='event-date'>Thursday, March 2nd</h2>
            <p class='event-desc'>Nature hike through Red Rock Canyon.  We gaze up to the cosmos from an undisturbed desert sky and ponder our indescribable insignifigance.</p>
        </div>
        <div class="event">
            <h2 class='event-date'>Friday, March 3rd</h2>
            <p class='event-desc'>Nature hike through Red Rock Canyon.  We gaze up to the cosmos from an undisturbed desert sky and ponder our indescribable insignifigance.</p>
            <p class='event-desc'>Nature hike through Red Rock Canyon.  We gaze up to the cosmos from an undisturbed desert sky and ponder our indescribable insignifigance.</p>
        </div>
        <div class="event">
            <h2 class='event-date wedding-day'>Satuday, March 4th</h2>
            <p class='event-desc'>Nature hike through Red Rock Canyon.  We gaze up to the cosmos from an undisturbed desert sky and ponder our indescribable insignifigance.</p>
            <p class='event-desc'>Nature hike through Red Rock Canyon.  We gaze up to the cosmos from an undisturbed desert sky and ponder our indescribable insignifigance.</p>
        </div>
        <div class="event">
            <h2 class='event-date wedding-day'>Sunday, March 5th</h2>
            <p class='event-desc'>Nature hike through Red Rock Canyon.  We gaze up to the cosmos from an undisturbed desert sky and ponder our indescribable insignifigance.</p>
            <p class='event-desc'>Nature hike through Red Rock Canyon.  We gaze up to the cosmos from an undisturbed desert sky and ponder our indescribable insignifigance.</p>
        </div>
    </div>
</div>
