<div class="home">
    <div id="banner-wrapper">
        <img id="banner-img" src="{{HC.background}}" alt="">
            <div id="welcome-text">
                <h1 class="animated {{HC.anim}}" style="color: {{HC.text_color}}">{{HC.message}}</h1>
            </div>
        </img>
    </div>
    <div class="container">
        <div class="contents">
            <div class="jumbotron">
                <div class="centered"><h3>Hello!</h3></div>
                <hr>
                <p>
                    Welcome friends and family!  I would like to express my most sincere excitement to see all of you <span class="important">March 4th</span> to help celebrate with Becca and me.  First and foremost, please RSVP, if you have not already.  If by whatever circumstances, you will not attend - do not be sad!  We still love you.  Secondly, Becca and I wish this wedding to be a party for all, with as few restriction on our guests as possible.  We will be providing information for the hotel at which we are staying, The Cosmopolitan; however, if there are other accommodations that work better for you, please choose them!  One of the things about Las Vegas that attracted us as a destination was the abundance of lodging options within a short distance.
                </p>
                <p>Cheers and blessed wishings from the groom and webmaster,</p>
                <p>Devon</p>



            </div>
        </div>

    </div>
</div>
{{HC}}
