
<div class="container">
    <span class="centered"><h1>Registry</h1></span>
    <hr>
    <div class="registry">
        <a class="reg-div" id='amazon' href="https://www.amazon.com/wedding/devon-newsom-becca-mcclintock-las-vegas-march-2017/registry/3FXC8J1ZL8N9">
            <div class="reg-link-overlay"><span class="reg-loc-title">Amazon</span></div>
        </a>
        <a class="reg-div" id='surlatable' href="http://www.surlatable.com/category/cat360423/Find+a+Registry;jsessionid=44388DCDEDE291F313D628D4BC84098C.slt-app-01-p-app2">
            <div class="reg-link-overlay"><span class="reg-loc-title">Sur La Table</span></div>
        </a>
        <a class="reg-div" id='macys' href="https://www.macys.com/registry/wedding/registrysearch?cm_sp=reg_homepage-_-row1-_-Find%2C-A-Couple%27s-Registry%2C-create-Your-Registry%2C-manage%2C-Your-Registry_find-a-registry">
            <div class="reg-link-overlay"><span class="reg-loc-title">Macys</span></div>
        </a>
    </div>

</div>
