
<div class="container">
    <div class="contents">
        <span class="centered"><h1>Registry</h1></span>
        <hr>
        <div class="registry">
            <a class="reg-div" id='amazon' href="https://www.amazon.com/wedding/devon-newsom-becca-mcclintock-las-vegas-march-2017/registry/3FXC8J1ZL8N9">
                <div class="reg-link-overlay"><span class="reg-loc-title">Amazon</span></div>
            </a>
            <a class="reg-div" id='surlatable' href="https://www.surlatable.com/registry/viewGiftRegistry.jsp?giftlistId=2001702855132">
                <div class="reg-link-overlay"><span class="reg-loc-title">Sur La Table</span></div>
            </a>
            <a class="reg-div" id='macys' href="https://www.macys.com">
                <div class="reg-link-overlay"><span class="reg-loc-title">Macys</span></div>
            </a>
        </div>
    </div>

</div>
