
<div class="container">
    <div class="contents">
        <div class="jumbotron rsvp-jumbo">
            <div class="centered">
                <h1>RSVP</h1>
                <h3 class="dark-jumbo-text">Type your name, then hit enter.</h3>
                <p class="stern-message">Note: we can only accommodate the individuals named on invitations.  Please contact us if you, or someone you are planning on bringing, is not named below.  Thanks!</p>
            </div>
            <hr>
            <div class="rsvp">
                <div ng-if='MC.thisPerson.Error || MC.rsvpErr.Error' class="alert alert-danger">
                    {{MC.thisPerson.Error ? MC.thisPerson.Error : MC.rsvpErr.Error}}
                </div>
                <div class="rsvp-input-wrap"><input
                    placeholder="Name"
                    type="text"
                    ng-model="MC.candidate"
                    ng-keypress='($event.which === 13)?MC.checkInvitee():0'
                    typeahead-editable="true"
                    uib-typeahead="f for f in MC.results | filter:$viewValue | limitTo:8"
                    class="form-control" typeahead-min-length="1"
                    typeahead-no-results="noResults"
                    ></div>
                    <div ng-if="MC.thisPerson.firstName && !MC.thisPerson.hasRsvp" class="form-group">
                        <h3>Hi {{MC.thisPerson.firstName}}!</h3>
                        <h4>Will you be joining us?</h4>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="radio" name="isComing" ng-model='MC.rsvp.isComing' value="yes"> Yes
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="isComing" ng-model='MC.rsvp.isComing' value="no"> No
                            </label>
                        </div>
                        <div ng-if="MC.thisPerson.hasPlus" class="">
                            <h4 ng-if='MC.thisPerson.hasPlus'>
                                Will {{MC.thisPerson.firstNamePlus}} {{MC.thisPerson.lastNamePlus}} be attending?
                            </h4>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="radio" name="isPlusComing" ng-model='MC.rsvp.isPlusComing' value="yes"> Yes
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="isPlusComing" ng-model='MC.rsvp.isPlusComing' value="no"> No
                                </label>
                            </div>

                        </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" ng-click='MC.validate()' ng-attr-data-target="{{ MC.isValid ? '#myModal' : 'none' }}">

                        RSVP
                    </button>
                </div>
                <div ng-if='MC.thisPerson.hasRsvp == true && MC.thisPerson' class="has-rsvp">
                    <h3>Hello {{MC.thisPerson.firstName}}, you have already RSVP'd.  Please contact us directly if your plans have changed</h3>
                </div>

                <!-- Modal -->


                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">{{MC.thisPerson.firstName}} {{MC.thisPerson.lastName}}</h4>
                                </div>
                                <div class="modal-body">
                                    <h3>You have answered:</h3>

                                    <h4 ng-if='MC.rsvp.isComing == "yes"'><span class="important affirmative">{{MC.rsvp.isComing.toUpperCase();}}</span> you are coming!</h4>
                                    <h4 ng-if='MC.rsvp.isComing == "no"'><span class="important negative">{{MC.rsvp.isComing.toUpperCase();}}</span> you are not coming.</h4>
                                    <h4 ng-if="MC.thisPerson.hasPlus && MC.rsvp.isPlusComing == 'yes'"><span class="important affirmative">{{MC.rsvp.isPlusComing.toUpperCase();}}</span> {{MC.thisPerson.firstNamePlus}} {{MC.thisPerson.lastNamePlus}} is coming</h4>
                                    <h4 ng-if="MC.thisPerson.hasPlus && MC.rsvp.isPlusComing == 'no'"><span class="important negative">{{MC.rsvp.isPlusComing.toUpperCase();}}</span> {{MC.thisPerson.firstNamePlus}} {{MC.thisPerson.lastNamePlus}} is not coming</h4>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="MC.toRSVP()" data-dismiss="modal">Submit</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <script type='text/ng-template' id="rsvpModal.html">
                    <div ng-if="!MC.rsvpSuccess">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">{{MC.thisPerson.firstName}} {{MC.thisPerson.lastName}}</h4>
                        </div>
                        <div class="modal-body">
                            <h3>You have answered:</h3>

                            <h4 ng-if='MC.rsvp.isComing == "yes"'><span class="important affirmative">{{MC.rsvp.isComing.toUpperCase();}}</span> you are coming!</h4>
                            <h4 ng-if='MC.rsvp.isComing == "no"'><span class="important negative">{{MC.rsvp.isComing.toUpperCase();}}</span> you are not coming.</h4>
                            <h4 ng-if="MC.thisPerson.hasPlus && MC.rsvp.isPlusComing == 'yes'"><span class="important affirmative">{{MC.rsvp.isPlusComing.toUpperCase();}}</span> {{MC.thisPerson.firstNamePlus}} {{MC.thisPerson.lastNamePlus}} is coming</h4>
                            <h4 ng-if="MC.thisPerson.hasPlus && MC.rsvp.isPlusComing == 'no'"><span class="important negative">{{MC.rsvp.isPlusComing.toUpperCase();}}</span> {{MC.thisPerson.firstNamePlus}} {{MC.thisPerson.lastNamePlus}} is not coming</h4>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" ng-click='MC.ok()'>Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="MC.toRSVP()" data-dismiss="modal">Submit</button>
                        </div>
                    </div>
                    <div ng-if="MC.rsvpSuccess" class="modal-header">
                        <h3>Succcess!</h3>
                    </div>
                </script> -->

                <!-- <button type="button" name="button" ng-click='MC.addPeople()'>ADD PEOPLE</button> -->

            </div>
            {{MC.rsvpSuccess}}
        </div>
    </div>
</div>
