:root{
    --main-text-color: rgb(30, 244, 4);
    --dark-text-color: rgb(45, 45, 45);
    --light-text-color: rgb(205, 205, 205);
}

body{
    padding-top: 60px;
    font-family: 'Hammersmith One', sans-serif;
    background-color: rgb(55, 62, 62);
}
    h1{
        color: rgb(30, 244, 4);
    }
    h2{
        color: rgb(205, 205, 205);
        text-decoration: underline;
    }
    .contents{
        margin-top: 30px;
    }
    .centered{
        text-align: center;
    }
    /*.contents > :not(span, input){
        color: rgb(158, 255, 0);
    }*/
    .important{
        font-weight: bold;
    }
    .affirmative{
        color: rgb(30, 244, 4);
    }
    .negative{
        color: rgb(212, 47, 47);
    }
    .blue{
        color: rgb(42, 53, 153);
    }
    .time{
        color: rgb(205, 205, 205);
    }

/*++++++++++++++++++++++++++++
======== NAV BAR =============
++++++++++++++++++++++++++++*/

.my-nav{
    background-color: rgb(181, 137, 201);
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-brand {
    color: rgb(217, 217, 217);
    font-size: 160%;
}
nav a {
    /*font-weight: bolder;*/
    font-size: 110%;
    margin: 5px 5px;
}

/*++++++++++++++++++++++++++++
========  HOME PAGE =======
++++++++++++++++++++++++++++*/

#banner-wrapper{
    width: 100%;
    /*min-height: 450px;*/
    position: relative;
}
    #banner-img{
        width: 100%;
        height: 100%;
    }
    #welcome-text{
        position:absolute;
        left:75%;
    }
        #welcome-text *{
            font-weight:bold;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
#devsmessage{
    font-family: 'Permanent Marker', cursive;
}

/*++++++++++++++++++++++++++++
========  RSVP PAGE =======
++++++++++++++++++++++++++++*/

.rsvp-jumbo{
    background-color: #868686;
    color: rgb(30, 244, 4);
}
    .rsvp-jumbo h1{
        margin: 0;
    }
    .rsvp *:not(.affirmative):not(.negative){
        color: rgb(45, 45, 45);
    }
    .dark-jumbo-text{
        color: rgb(45, 45, 45);
    }
    .stern-message{
        font-style: italic;
        color: rgb(205, 205, 205);
    }


/*++++++++++++++++++++++++++++
======== SELFIEZ PAGE =======
++++++++++++++++++++++++++++*/
.selfiez{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.selfie{
    width: 300px;
    height: 300px;
    margin: 10px;
    background-size: cover;
}


/*++++++++++++++++++++++++++++
======== REGISTRY PAGE =======
++++++++++++++++++++++++++++*/
.registry{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.reg-div{
    width: 400px;
    height: 400px;
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.reg-loc-title{
    display: inline-block;
    text-decoration: none;
    font-size: 3.2em;
    font-weight: bold;
    color: rgb(221, 221, 221);
    margin-top: 100px;
}
    .reg-div:hover > .reg-link-overlay{
        width:100%;
        height:100%;
        background-color:#000;
        opacity:0.5;
        display: inline-block;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    /*.reg-div:focus > .reg-link-overlay{
        width:100%;
        height:100%;
        background-color:#000;
        opacity:0.5;
        display: inline-block;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }*/
    .reg-link-overlay{
        width:100%;
        height:100%;
        background-color:#000;
        opacity: 0;
        display: inline-block;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    .reg-div:hover > .reg-loc-title{
        display: inline;
        display: inline-block;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    /*.reg-div:focus > .reg-loc-title{
        display: inline;
        display: inline-block;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }*/
.reg-link{
    text-align: center;
    width: inherit;
    height: inherit;
    display: inherit;
}
    #amazon{
        background: url('../img/amazon.jpg');
        background-size: cover;
    }
    #surlatable{
        background: url('../img/table.jpg');
        background-size: cover;
    }
    #macys{
        background: url('../img/macys.jpg');
        background-size: cover;
    }
    .reg-link a{
        text-decoration: none;
    }

.image_test{
    background: url('../img/targit.jpg');
    width: 250px;
    height: 250px;
    position: relative;
    display: inline-block;
}
    .image_test:hover > .overlay{
        width:100%;
        height:100%;
        position:absolute;
        background-color:#000;
        opacity:0.5;
    }

/*++++++++++++++++++++++++++++
======== EVENT PAGE =========
++++++++++++++++++++++++++++*/

.event-desc{
    color: rgb(30, 244, 4);
}

/*++++++++++++++++++++++++++++
=====  ACCOMODATIONS PAGE ====
++++++++++++++++++++++++++++*/

.accomodations p,li,h4,h5{
    color: rgb(205, 205, 205);
}
#map{
    height: 200px;
    width: 100%;
}

/*++++++++++++++++++++++++++++
======== ADMIN PAGE =========
++++++++++++++++++++++++++++*/

.admin *{
    color: rgb(30, 244, 4);
}

.admin input{
    color: rgb(78, 78, 78);
}

.admin-table-header{
    position: relative;
}
.search-field{
    position: absolute;
    bottom: 0;
    right: 0;
}
.inline{
    display: inline-block;
}


/*++++++++++++++++++++++++++++
======== MEDIA QUERIES =========
++++++++++++++++++++++++++++*/
@media only screen and (min-width: 100px) {

    #welcome-text{ top: 10%;}
    #welcome-text * {font-size: 1em;}
    .rsvp-input-wrap{ min-width: 100px;}
    .reg-div{
        width: 300px;
        height: 300px;
    }

}

@media only screen and (min-width: 500px) {

    #welcome-text{ top: 15%;}
    #welcome-text * {font-size: 2em;}
    .rsvp-input-wrap{ min-width: 300px;}
    .reg-div{
        width: 300px;
        height: 300px;
    }

}

@media only screen and (min-width: 780px) {

    #welcome-text{ top: 36%;}
    #welcome-text * {font-size: 3em;}
    .rsvp-input-wrap{ width: 400px;}
    .reg-div{
        width: 500px;
        height: 500px;
    }

}

@media only screen and (min-width: 900px) {

    #welcome-text{ top: 50%;}
    #welcome-text * {font-size: 5em;}

}
